div {

  padding: 15px;
  margin: auto auto;
  font-size: large;
}

.counter {
  border: 2px solid tomato;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  
}